.titulo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.titulo2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}

.titulo3 {
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.caja_titulos {
  float: left;
  padding: 20px;
  background-color: blue;
  margin: 8px;
}
.caja_titulos2 {
  float: inherit;
  padding: 20px;
  background-color: red;
  margin: 8px;
}
.caja_titulos3 {
  float: right;
  padding: 20px;
  background-color: yellow;
  margin: 8px;
}
